name: CI-CD Pipeline

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      # 1️⃣ Checkout repo
      - name: Checkout code
        uses: actions/checkout@v4

      # 2️⃣ Login to DockerHub
      - name: DockerHub login
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      # 3️⃣ Build Docker image
      - name: Build Docker image
        run: docker build -t ${{ secrets.DOCKER_USERNAME }}/devops-day7:latest .

      # 4️⃣ Push Docker image
      - name: Push Docker image
        run: docker push ${{ secrets.DOCKER_USERNAME }}/devops-day7:latest

      # 5️⃣ Create kubeconfig file from GitHub secret
      - name: Set kubeconfig
        run: |
          echo "${{ secrets.KUBECONFIG }}" > kubeconfig.yaml
          export KUBECONFIG=$PWD/kubeconfig.yaml
          kubectl get nodes

      # 6️⃣ Deploy new image to Kubernetes
      - name: Deploy to Kubernetes
        run: |
          export KUBECONFIG=$PWD/kubeconfig.yaml
          kubectl set image deployment/devops-app devops-app=${{ secrets.DOCKER_USERNAME }}/devops-day7:latest
          kubectl rollout status deployment/devops-app

